@media only screen and (max-width:560px){
  .conteudo-principal{
    max-width: 100%;
  }
  .pastas{
    max-width: 300px;
  }
  
  .pastas div{
    margin-left:33%;
  }
  .titulo-principal{
    font-size: 18px;
  }

  .pastas div,.modulo,.modulo h3{
    margin-bottom: 0px;
    margin-top: 0px;
  }
}